.banner {
  height: 600px;
  margin: 0;
  background-size: cover;
  background-position: 50% 80%;
}

.banner-container {
  padding: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  color: #9BA4B5;

}

.banner h1, .banner p {
  margin: 25px;
  text-shadow: 1px 1px 1px rgba(20,20,20,.4);
}
